$color-purple: rgb(94 50 137);
$border-radius: 1em;
$color-red: rgba(224, 51, 68, 1);

.projects {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em 0em;

    .projects-h1 {
        font-size: 3em;
    }

    .project-container {
        width: 100vw;
        padding: 2em 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        position: relative;

        .project {
            list-style: none;
            width: 45em;
            height: 34em;
            border-radius: 1em;
            box-shadow: 0em .5em .5em 0em rgba(0,0,0, .2);

            .image-container{
                width: 45em;
                height: 17em;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;

                .project-top-label {
                    position: absolute;
                    top: 10%;
                    left: 5%;
                    background: $color-purple;
                    color: white;
                    font-weight: 700;
                    padding: .5em .9em;
                    font-size: 1em;
                    border-radius: 1em;
                }

                .square-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                    box-shadow: inset  0em 0em 1em 0em;
                }

                .circle-image {
                    width: 12em;
                    height: 12em;
                    object-fit: cover;
                    border-radius: 100%;
                    box-shadow: inset  0em 0em 1em 0em;
                }
            }

            .project-content {
                padding: 2em;
                width: 100%;
                height: 37vh;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;

                .project-bottom-label {
                    background: $color-red;
                    color: white;
                    font-weight: 700;
                    padding: .5em .9em;
                    font-size: 1em;
                    border-radius: 1em;
                }

                .project-date {
                    font-size: 1.5em;
                }

                .project-h2 {
                    margin-top: .5em;
                    font-size: 2em;
                    color: $color-purple;
                }

                .project-summary {
                    margin-top: .5em;
                    font-size: 1.5em;
                }

                .project-read {
                    display: block;
                    margin-top: 1em;
                    font-size: 1.5em;
                    color: $color-red;
                }
            }
        }
    }
}