.projects {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em 0em;

    .projects-h1 {
        font-size: 3em;
    }

    .project-container {
        width: 100vw;
        padding: 2em 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;

        .project {
            list-style: none;
            width: 45em;
            height: 34em;
            border-radius: 1em;
            box-shadow: 0em .5em .5em 0em rgba(0,0,0, .2);

            .image-container{
                width: 45em;
                height: 17em;
                border-top-left-radius: 1em;
                border-top-right-radius: 1em;
                

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                    box-shadow: inset  0em 0em 1em 0em;
                }
            }

            .project-content {
                padding: 2em;
                width: 100%;
                height: 37vh;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;

                .project-label {
                    background: rgba(224, 51, 68, 1);
                    color: white;
                    font-weight: 700;
                    padding: .5em .9em;
                    font-size: 1em;
                    border-radius: 1em;
                }

                .project-h2 {
                    margin-top: .5em;
                    font-size: 2em;
                }

                .project-summary {
                    margin-top: .5em;
                    font-size: 1.5em;
                }
            }
        }
    }
}