@use '../../abstracts/colors';
@use "sass:map";
@use "../../abstracts/mixins";

.calenderEdit{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

    &__form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 50rem;
        height: max-content;
        padding: 2rem;
        @include mixins.border(0.2rem, "red");
        border-radius: 2rem;
    }

    &__input{
        width: 100%;
        height: max-content;
        @include mixins.border(0.2rem, "lightGray");
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;

        &--checkbox{
            width: max-content;
        }
    }

    &__textarea{
        width: 100%;
        height: max-content;
        @include mixins.border(0.2rem, "lightGray");
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        resize:vertical;
    }

    &__submit{
        width: max-content;
        padding: 1rem;
        @include mixins.border(0.2rem, "red");
        background: white;
        border-radius: 1rem;
        font-size: 1.5rem;
    }

    span{
        display: flex;
        gap: 1rem;
    }

    a{
        text-decoration: none;
        color: map.get(colors.$textColor, "red");
    }
}