@use '../../abstracts/colors';
@use "sass:map";
@use "sass:color";

.date{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1em;

    &__wrapper{
        width: 20em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    &__button{
        position: relative;
        border: none;
        width: 3em;
        aspect-ratio: 1/1;
        background: map.get(colors.$backgroundColors, "red");
        border-radius: 50%;

        svg{
            color: map.get(colors.$textColor, "white");
        }

        &:hover{
            cursor: pointer;
            background: color.adjust(map.get(colors.$backgroundColors, "red"), $lightness: -10%);
        }
    }

    span{
        font-size: 1.5em;
    }
}