$pcolor: rgb(94 50 137);

.about-us-h1 {
    padding: 1em;
    color: $pcolor;
    font-size: 3em;
    text-align: center;
}

.about-us-section {
    width: 100vw;
    height: 50vh;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}