$backgroundColors: (
    "purplePastel": #5e32891a,
    "red": #d63041,
    "white": #ffffff,
    "purple": #4E448F
);

$textColor: (
    "black": #000000,
    "red": #d63041,
    "purple": #5e3289,
    "white": #ffffff,
    "lightGray": #6b7280,
    "darkGray": #4b5563,
);

$borders: (
    "balck": #000000,
    "lightGray": #e5e7eb,
    "red": #d63041,
);