$backgroundColors: (
    "purplePastel": #5e32891a,
    "red": #d63041,
    "white": #ffffff,
);

$textColor: (
    "black": #000000,
    "red": #d63041,
    "purple": #5e3289,
    "white": #ffffff,
    "lightGray": #6b7280,
    "darkGray": #4b5563,
);

$borders: (
    "balck": #0000001a,
    "lightGray": #e5e7eb,
);