@use '../../abstracts/colors';
@use "sass:map";
@use "../../abstracts/mixins";

.info{
    max-width: 144rem;
    height: auto;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;

    &__title{
        font-size: 3em;
        color: map.get(colors.$textColor, "red");
        text-align: center;
    }

    &__paragraph{
        font-size: 1.5em;
        color: map.get(colors.$textColor, "darkGray");
        text-align: center;
    }
}