$pcolor: rgb(94 50 137);
$title: 3em;

.about-us-amsterdam750 {
    width: 100vw;
    height: 50vh;
    background: $pcolor;
    position: relative;

    .about-us-figure {
        position: absolute;

        .about-us-slinger{
            width: 30em;
        }
    }

    .about-us-amsterdam-text-container {
        width: 40%;
        height: 50vh;
        position: absolute;
        padding: 1em 0em;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 50%; 
        transform: translateX(-50%); 
        gap: 2em;

        .about-us-amsterdam-h1 {
            font-size: 4em;
            color: white;
        }

        .about-us-amsterdam-text {
            font-size: 2em;
            color: white;
        }
    }
}

.about-us-section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

    .about-us-h1 {
        padding: 1em;
        color: $pcolor;
        font-size: $title;
        text-align: center;
    }

    .about-us-team {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1em;
    }
}

.about-us-devs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .about-us-h2-devs {
        color: $pcolor;
        font-size: $title;
        margin: 2em;
        text-align: center;
    }

    .about-us-developer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
    }
}

.about-us-partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0em;

    .about-us-h2-partner {
        color: $pcolor;
        font-size: 3em;
        text-align: center;
        margin: 1em;
    }
}



