@use '../../abstracts/colors';
@use "sass:map";
@use "../../abstracts/mixins";

.menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateX(100%);
    background: map.get(colors.$backgroundColors, "white");

    &--hide{
        animation: 0.8s forwards mobileMenuClose;
        display: block;
    }

    &--show{
        animation: 0.8s forwards mobileMenuOpen;
        display: block;
    }

    @keyframes mobileMenuClose{
        0%{
            transform: translateX(0%);
            display: block;
        }
    
        100%{
            transform: translateX(100%);
            display: none;
        }
    }
    
    @keyframes mobileMenuOpen{
        0%{
            transform: translateX(100%);
            display: block;
        }
    
        100%{
            transform: translateX(0%);
            display: block;
        }
    }

    &__container{
        width: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &__button {
        display: none;
        padding: 0.5rem;
        @include mixins.button(map.get(colors.$backgroundColors, "red"), map.get(colors.$textColor, "white"), 1rem, 4rem, "1/1");

        svg {
            width: 2em;
            height: 2em;
        }
    }

    &__link {
        background: white;
        color: map.get(colors.$textColor, "red");
        padding: 1rem;
        font-size: 2em;
        text-decoration: none;
    }
}

@media screen and (max-width: 64rem){
    .menu{
        &__button{
            display: block;
        }
    }
}